---

---

<nav
  class="group fixed z-99 inset-x-0 top-0 font-poppins font-light text-[#665f20] bg-[#FFFDE6]/50 backdrop-blur-3xl"
>
  <button
    type="button"
    class="flex sm:hidden w-full h-8 flex-col justify-center items-center gap-1.5 focus:gap-0.5 transition-all ease-out duration-200 cursor-pointer"
  >
    <div class="w-6 h-0.25 bg-[currentColor]"></div>
    <div class="w-6 h-0.25 bg-[currentColor]"></div>
    <div class="w-6 h-0.25 bg-[currentColor]"></div>
  </button>
  <ul
    class="hidden group-focus-within:flex sm:flex flex-col sm:flex-row flex-wrap py-4 justify-center items-center gap-5"
  >
    <li><a href="#o-mnie">o mnie</a></li>
    <li><a href="#social-media">social media</a></li>
    <li><a href="#copywriting">copywriting</a></li>
    <li><a href="#ugc">ugc</a></li>
    <li><a href="#kontakt">kontakt</a></li>
  </ul>
</nav>
