---

---

<div id="main-navigation" class="group">
  <div
    class="group-not-[[data-open]]:opacity-0 group-not-[[data-open]]:hidden:pointer-events-none sm:hidden fixed z-50 inset-0 backdrop-blur-sm transition-all"
  >
  </div>
  <nav
    aria-label="Main Navigation"
    class="isolate fixed z-99 inset-x-0 top-0 font-poppins font-light text-[#665f20] bg-[#FFFDE6]/50 backdrop-blur-3xl"
  >
    <button
      type="button"
      class="flex sm:hidden w-full h-8 flex-col justify-center items-center gap-1.5 active:gap-0.5 focus:gap-0.5 transition-all ease-out duration-200 cursor-pointer bg-[#FFFDE6]/50"
      aria-controls="navbar-dropdown"
    >
      <div class="w-6 h-0.25 bg-[currentColor]"></div>
      <div class="w-6 h-0.25 bg-[currentColor]"></div>
      <div class="w-6 h-0.25 bg-[currentColor]"></div>
    </button>
    <ul
      id="navbar-dropdown"
      class="border-b border-current sm:border-none hidden group-[[data-open]]:flex sm:flex flex-col sm:flex-row flex-wrap justify-center items-stretch sm:gap-5"
    >
      <li>
        <a class="block py-2.5 text-center" href="#o-mnie">o mnie</a>
      </li>
      <li>
        <a class="block py-2.5 text-center" href="#social-media">social media</a
        >
      </li>
      <li>
        <a class="block py-2.5 text-center" href="#copywriting">copywriting</a>
      </li>
      <li><a class="block py-2.5 text-center" href="#ugc">ugc</a></li>
      <li>
        <a class="block py-2.5 text-center" href="#portfolio">portfolio</a>
      </li>
      <li>
        <a class="block py-2.5 text-center" href="#kontakt">kontakt</a>
      </li>
    </ul>
  </nav>
</div>

<script>
  const nav = document.querySelector('#main-navigation') as HTMLDivElement;

  nav.addEventListener('click', () => {
    if (nav.dataset.open) {
      delete nav.dataset.open;
    } else {
      nav.dataset.open = 'true';
    }
  });
</script>
