---
type Props = {
  name: string;
};

const { name } = Astro.props;
---

<section
  class="mx-auto mt-20 mb-20 w-fit grid grid-cols-1 grid-rows-[auto_auto_auto] lg:grid-cols-[auto,auto] lg:grid-rows-[auto_1fr] gap-x-16"
>
  <h1 class="sr-only">{name}</h1>
  <div
    class="title lg:col-start-2 lg:row-start-1 *:w-[20rem] lg:*:w-[24rem] mb-8"
  >
    <slot name="title" />
  </div>
  <div
    class="media mb-8 lg:mb-0 lg:col-start-1 lg:row-start-1 lg:row-span-2 flex items-center"
  >
    <slot name="media" />
  </div>
  <div
    class="description mx-auto w-fit lg:col-start-2 lg:row-start-2 p-6 font-poppins font-light text-base"
  >
    <slot name="description" />
  </div>
</section>

<style>
  .title {
    justify-self: center;
  }

  .media {
    justify-self: center;
  }

  .description {
    align-self: start;
  }
</style>
